### Arquivos de Build e Compilação ###
target/
bin/
build/
out/
.gradle/
.mvn/
*.class

### Logs ###
logs/
*.log

### Pacotes e Binários ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


.env
.env.local
application-local.properties
application-dev.properties
*.secret
*.key

### Arquivos de IDE ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
*.code-workspace

# Eclipse / NetBeans
.settings/
.classpath
.project
*.prefs
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

### Arquivos do Sistema ###
.DS_Store
Thumbs.db
desktop.ini